html {
	box-sizing: border-box;
}
*,*::before, *::after {
 	box-sizing: inherit;
}


body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	background-color: #fff;
}
a {
	text-decoration: none;
}
.visually-hidden { 
  	position: absolute;
  	border: 0; 
  	clip: rect(0 0 0 0); 
  	height: 1px; 
  	margin: -1px; 
  	overflow: hidden; 
  	padding: 0;  
  	width: 1px; 
} 
.main-header {
	background-color: #eee; 
}
.main-menu {

	font-size: 16px;
	line-height: 30px;
	color: #000;
	background-color: #eee;
	font-weight: 500;
	vertical-align: middle;
}
.main-menu a {
	color: #000;

}
.main-menu a:hover,
.main-menu a:focus {     /*   ?????*/
    color: #303030; 
} 
.main-menu a:active {
	color: #a6a6a6;
	border-bottom: #fb565a;
}

.site-menu {
	list-style: none;
}
.site-menu a,
.cart a {
	color: #000;
}

.site-menu a:hover,
.site-menu a:focus,
.cart a:hover,
.cart a:focus {
    color: #fb565a;
}
.site-menu a:active,
.cart a:active {
	color: #a6a6a6;
}
.slide1 strong,
.slide2 strong,
.slide3 strong {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.slide1 p,
.slide2 p,
.slide3 p {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
.button {
	font-size: 16px;
	line-height: 18x;
	font-weight: 500;
	vertical-align: middle; 
	text-transform: uppercase; 
}
.serviсe-list {
	list-style: none;
}
.serviсe-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.serviсe-list p {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}

.information b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	text-transform: uppercase;
}
.information p {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
.information .service-orders {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.statistical-data b {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}
.list-benefits li {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
	list-style: none;
}
.list-benefits p {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.sites ul {
	list-style: none;
}
.footer-bar li {
	list-style: none;
}
.contact-box {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	background-color: #fff;
	padding: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -300px;
}
.contacts address {
	font-style: normal;
}
.contact-box h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}
.call b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}
.call p {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(68, 68, 68, .5);
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder  {
  color: rgba(68, 68, 68, .5);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, .5);
}
.modal-form input[type="text"],
.modal-form textarea { 
  color: rgba(68, 68, 68, .5);
  border: 2px solid #d7dcde;
} 
.modal-form input[type="text"]:hover,
.modal-form textarea { 
  color: rgba(68, 68, 68, .5);
  border-color: #b4b9bb;
} 
.modal-form input[type="text"]:focus,
.modal-form textarea { 
  color: #444; 
  border-color: #000;
} 
.modal-form input[type="text"]:invalid,

.modal-form textarea:invalid { 
  color: #e74246;
  border-color: #e74246;
}
.modal-form input[type="email"]:invalid {
	color: #e74246;
	border-color: #e74246;
	color: red;
}
.communication .button-info {
	color: #fecccd; 
	background-image: url(../img/close-cross.svg); 
	background-repeat: no-repeat; 
}
.button-info:hover { 
  	color: #fb565a;
} 
.container h1 {
	margin: 0 auto;
	width: 730px;
	min-height: 40px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
}

.value p {
	font-size: 18px; 
    line-height: 30px; 
    font-weight: 700; 
}
.outline p {
	font-size: 18px; 
    line-height: 30px; 
    font-weight: 700; 
}
.features p  {
	font-size: 18px; 
    line-height: 30px; 
    font-weight: 700;
}
.features ul {
	list-style: none;
}
display: none
.features .button-gray:hover,
.features .button-gray:focus {
	color: #000;
	background-color: #dfdfdf;
}
.button-order3:active { 
	color: #959595;
	background-color: #d5d5d5;
} 


.outline label {
	font-size: 16px; 
    line-height: 20px; 
    color:#283136; 
}
.outline .options1 {
	
}
.sort p {
	font-size: 18px; 
    line-height: 18px; 
    font-weight: 700;
}
.product-prices  h2 {
	font-size: 18px; 
    line-height: 30px; 
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.product-prices  p {
	font-size: 16px; 
    line-height: 18px; 
    font-weight: normal;
    color: #666;
}
.button {
	font-size: 16px; 
    line-height: 18px; 
    font-weight: 500;
	color: #fff; 
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	
		
}
.list-pages {
	list-style: none;
}
.button-info {
	color: #fff; 
	background-color: #fb565a;
	border-radius: 10%; 
}
.button-info:hover, 
.button-info:focus { 
	 background-color: #e74246; 
}
.button-info:active { 
	color: #e37376;
	background-color: #d7373b;
}
.button-order1 {
	color: #fff; 
	background-color: #fb565a; 
} 
.button-order1:hover,
.button-order1:focus {
	background-color: #e74246;
}
.button-order1:active { 
	color: e37376;
	background-color: #d7373b;
}
.button-order2 {
	color: #fff; 
	background-color: #00ca74;
} 
.button-order2:hover,
.button-order2:focus {
	background-color: #00bc6c;
}
.button-order2:active { 
	color: #4dc491;
	background-color: #00aa62;
}
.button-order3 {
	color: #fff; 
	background-color: #efc84a;
} 
.button-order3:hover,
.button-order3:focus {
	background-color: #eab534;
}
.button-order3:active { 
	color: #4dc491;
	background-color: #e5a722;
}
.col .button-info {
	color: #fff;
	background-color: #fb565a;
}
.col:hover,
.col:focus {
	color: #000;
	background-color: #000;
}
.col input {
	color: #a1a1a1;
	border: 2px solid #d7dcde;
}
.communication textarea {
	border: 2px solid #d7dcde;
}
.button-buy {
	color: #fff; 
	background-color: #fb565a; 
}
.button-buy:hover, 
.button-buy:focus { 
	 background-color: #e74246;
}
.button-buy:active { 
	background-color: #d7373b;
}
.container .button {
	color: #000;
	background-color: #eee;
}
.container .button:hover,
.container .button:focus {
	background-color: #dfdfdf;
}
.container .button:active {
	color: #959595;
	background-color: #d5d5d5;
}
.footer-social li {
 	display:inline-block;
 	vertical-align:top;
 	margin-right: 10px;
}

.footer-social a {
	margin: 0 auto;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	width: 80px;
 	height: 80px;
 	border-radius: 50%;
 	background: #e1e1e1;
}
.footer-social a:hover,
.footer-social a:focus {
	background: #e74246;
}
.footer-social a:active {
	background: #d7373b;
}
.call {
	width: 550px;
	min-height: 60px;
}

       /*        слайдер     */


.slider-slides {
background: #eee;	
width: 300%;
overflow: hidden;
}
.slider-slides .slide {
  float: left;
  width: 33.3333%;
}
.slides ul {
 list-style: none;
}
.slides{
    overflow: hidden;
}
.slider-controls {
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
     border: 4px solid white;
    /* border-color: red;*/
}
#slide1:checked ~ .slider-controls label[for="slide1"],
#slide2:checked ~ .slider-controls label[for="slide2"],
#slide3:checked ~ .slider-controls label[for="slide3"] {
    background-color: #4d4d4d;
 /*   border-color: blue;*/
}

#slide1:checked ~ .slider-slides {
    transform: translate(0);
}

#slide2:checked ~ .slider-slides {
    transform: translate(-33.3333%);
}


#slide3:checked ~ .slider-slides {
    transform: translate(-66.6666%);
}

.option1 {
	color: #283136;
}
.option1:hover {
	color: #000;
} 
.outline input[type="radio"] { 
  color: #b8b8b8; 
  border: 2px solid #b8b8b8; 
} 

.outline input[type="radio"]:hover { 
  color: #4d4d4d; 
  border: 2px solid #4d4d4d; 
} 

.features input[type="checkbox"] { 
  color: #b8b8b8; 
} 
input[type="checkbox"]:hover { 
  color: #4d4d4d; 
}



 








.modal-close { 
	background-image: url("img/close-cross.svg");
	width: 21px;
  	height: 21px;  
	background-position: center; 
	background-repeat: no-repeat;
} 

.slide1 {
	background-image: url("img/slide1.png");
	width: 700px;
  	height: 413px;  
  	background-position: center; 
  	background-repeat: no-repeat; 
}
.slide2 {
	background-image: url("img/slide2.png");
	width: 700px;
  	height: 413px;  
  	background-position: center; 
  	background-repeat: no-repeat; 
}
.slide3 {
	background-image: url("img/slide3.png"); 
	width: 700px;
  	height: 413px; 
  	background-position: center; 
  	background-repeat: no-repeat; 
}
.main-header {
	width: 1160px;
	min-height: 66px;
	margin-bottom: 17px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 35px; 
}
.main-menu {
	display: flex; 
  justify-content: space-between;
}
.container {
	width:1160px; 
	display: flex; 
	flex-direction: column; 
  	margin: 0 auto;
}
.site-menu {
	display: flex; 
  	justify-content: space-between;
  	width: 440px;
  	min-height: 14px;
	
}
.main-menu .cart {

    margin: 0 auto;

  
}
.main-logo { 
	
}
.slider-slides {
	margin-bottom: 80px; 
}
.slide {
	display: block; 
}
.slide img {
	float: right;
}
.slides input {
	
}
.info {
	display: flex; 
  	justify-content: space-between; 
  	margin-top: 120px;

}

.information {
	width: 660px;
}
.statistical-data {
	width: 360px;
}
.info { 
   	display: flex; 
	min-height: 410px; 
} 
.serviсe-list {
	display: flex;
	justify-content: space-between; 
	margin-left: 140px;
	margin-bottom: 80px;
	
	

}
.serviсe .serviсe1{
	padding-right: 100px;
	
	width: 300px;
	min-height: 347px;
}
.serviсe1 {
	margin: 0;
	padding: 0;
}
.product-list {
	
	width: 760px;
	
}
.product-prices {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.price {
	width: calc(50% - 21px);
}
.sites ul {
	display: flex;
	justify-content: space-between;
	opacity: 0.2; 
	margin-right: 160px;
}
.contacts img {
	display: block;
	width: 100%;
	height: auto; } .social-button {height: 80px; width: 80px; border-radius: 50%; background-color: #e1e1e1; display: block; }
.main-footer {
	

}

.footer-social {
  display: flex; 
  justify-content: space-between; 
   width: 260px; 
   margin: 0; 
	margin-right: 140px; 
   	padding: 0;  
} 
.container form {
	width: 260px;
	min-height: 700px;
}
.communication {

}
.contacts {
	position: relative;
}
.contacts-box { 
	display: flex; 
	flex-direction: column; 
	flex-direction: column;  
	width: 260px; 

} 

.main-logo {
	margin: 0 auto;
	width: 160px;
	min-height: 60px;
}

.main-menu {
	width: 1160px;
}

.site-menu {
	margin: 0 auto;
}
.main-holder {
	display: flex;
	justify-content: space-between;
}

.container {
	display: flex; 
  flex-direction: column;
  
}
.sort {
	display: flex; 
	justify-content: space-between;
	align-items: flex-end;  
	width: 760px;
  padding-right: 25px; 
}

.sorting-link:hover { 
  color: #000000; 
  opacity: 0.5; 
} 


 
+ 


 
+.sorting-link:active { 


 
+  color: #000000; 


 
+  opacity: 0.8; 


 
 }      
}
.sort img {
	width: 12px; 
	height: 12px; 
}
.product-price {
	display: flex;
	flex-wrap: wrap;  
   	width: 360px; 
   	min-height: 613px;
 	text-align: center;
}
.outline {
	

}